@{
    ViewData["Title"] = "Admin Page";
    ViewBag.CurrentPage = "Admin";
}

<div class="center text-center">
    <h1 class="display-4 text-left">Dashboard</h1>
    <br />
    <hr />
    <div class="row">
        <div class="col col-md-2 dash-item dash-item-info">
            <div>
                <span class="fa fa-graduation-cap"></span> Total Students<br />
                <span class="badge badge-dark">100</span>
            </div>
        </div>
        <div class="col col-md-1"></div>
        <div class="col col-md-2 dash-item dash-item-danger">
            <div>
                <span class="fa fa-users"></span> Total Teachers<br />
                <span class="badge badge-dark">10</span>
            </div>
        </div>
        <div class="col col-md-1"></div>
        <div class="col col-md-2 dash-item dash-item-success">
            <div>
                <span class="fa fa-book"></span> Total Subjects<br />
                <span class="badge badge-dark">8</span>
            </div>
        </div>
        <div class="col col-md-1"></div>
        <div class="col col-md-2 dash-item dash-item-warning">
            <div>
                <span class="fa fa-users"></span> Total Classes<br />
                <span class="badge badge-dark">9</span>
            </div>
        </div>
        <div class="col col-md-1"></div>
    </div>
        <br />
        <hr />
        <br />

        <div class="row">
            <div class="col col-md-3">
                <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add New Student</button>
            </div>
            <div class="col col-md-3">
                <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add New Teacher</button>
            </div>
            <div class="col col-md-3">
                <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add New Subject</button>
            </div>
        </div>

        <hr />
    </div>