@{
    ViewData["Title"] = "Students Page";
    ViewBag.CurrentPage = "Students";

    var user = ViewData["user"];

}


<div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="" id="inputArea">
                <b class="text">Search Student&nbsp;:&nbsp;&nbsp;</b>
                <input type=text id="txtSearch" placeholder="Search Name, Student No. or Addrress" />
                <button id="btnSearch" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="k-grid" id="studentsGrid"></div>
        </div>
    </div>

</div>
<style type="text/css">
    #inputArea, .k-grid {
        font-family: Arial, 'Karla','Poppins', sans-serif;
    }

    /* Hide the Grid header and pager during export */
    .k-pdf-export .k-grid-toolbar,
    .k-pdf-export .k-pager-wrap {
        display: none;
    }

    #studentsGrid {
        font-size: 9.5px;
    }


    
</style>
<section>
    <script src="~/js/custom/Student.js"></script>
</section>
