/*******************************************
//***   STYLE SHEET FOR SNACK BAR           
//***   CREATOR: SAMUEL WENDOLIN KETECHIE    	   
//***   DATE: DEC 26TH, 2018 	
******************************************/

#snack_bar_success, #snack_bar_warning, #snack_bar_error {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 10;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snack_bar_success {
    background-color: #246c07;
}
#snack_bar_warning {
    background-color: #b7a436;
}

#snack_bar_error {
    background-color: #c32c2c;
}

    #snack_bar_success.show, #snack_bar_warning.show, #snack_bar_error.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

.dash-item {
    width: 20px;
    height: 60px;
    color: #000000;
}

.dash-item-info {
    background: #0094ff;
}

.dash-item-success {
    background: #095f2a;
}

.dash-item-warning {
    background: #cb7f4d;
}

.dash-item-danger {
    background: #ff0000;
}

#txtSearch {
    width: 350px;
    height: 35px;
    margin-right: -10px;
    border-radius: 5px;
    text-decoration-style: none;
}

.hide-area {
    display: none;
}

.show-area {
    display: block;
}

/* Template Days */

#calendar {
    width: 100%;
}

#special-days {
    border-radius: 5px;
}

.exhibition,
.party,
.cocktail {
    text-align: center;
    font-weight: bold;
    border-radius: 100%;
    border: medium;
    background: #000000;
}

.exhibition {
    color: #ff9e00;
}

.party {
    color: #ff4081;
}

.cocktail {
    color: #00a1e8;
}

.italic {
    font-style: italic;
}
